[submodule "external/include/expected"]
	path = external/include/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "external/include/nativefiledialog"]
	path = external/include/nativefiledialog
	url = https://github.com/AlvaroBarua/nativefiledialog.git
[submodule "external/include/VulkanMemoryAllocator"]
	path = external/include/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git