[submodule "ext/expected"]
	path = external/include/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "ext/nativefiledialog"]
	path = external/include/nativefiledialog
	url = https://github.com/AlvaroBarua/nativefiledialog.git
	branch = CMakeLists